@page "/listado-personas"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject Sesion Sesion
@inject PersonaListarUseCase personaListarUseCase

@using CentroEventos.Aplicacion.Entidades

<PageTitle>Listado de Persona</PageTitle>

<div class="container mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Dni</th>
                <th>Teléfono</th>
                @if (Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaModificacion) == true ||
                     Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaBaja) == true)
                {
                    <th>Acción</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (_lista != null && _lista.Any()){
            @foreach (var per in _lista)
            {
                <tr>
                    <td>@per.Id</td>
                    <td>@per.Nombre</td>
                    <td>@per.Apellido</td>
                    <td>@per.Email</td>
                    <td>@per.Dni</td>
                    <td>@per.Telefono</td>
                    @if (Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaModificacion) == true ||
                         Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaBaja) == true)
                    {
                        <td>
                            @if (Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaModificacion) == true)
                            {
                                <a class="btn btn-sm btn-primary" href="">Editar</a>
                            }

                            @if (Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaBaja) == true)
                            {
                                <button class="btn btn-sm btn-danger">Eliminar</button>
                            }
                        </td>
                    }
                </tr>
            }
            }else
            {
                <tr>
                    <td colspan="7" class="text-center">No hay reservas registradas.</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Sesion.UsuarioActual?.Permisos.Contains(Permiso.PersonaAlta) == true)
    {
        <a class="btn btn-sm btn-primary" href="/crear-personas">Agregar Persona</a>
    }
</div>

@code {
    List<Persona> _lista = new();

    protected override void OnInitialized()
    {
        _lista = personaListarUseCase.Ejecutar();
    }
}
